[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Godsownchild
[access "refs/for/refs/*"]
	read = group user/Godsownchild
	push = group user/Godsownchild
	label-Code-Review = -2..+2 group user/Godsownchild
	label-Verified = -1..+1 group user/Godsownchild
	rebase = group user/Godsownchild
	removeReviewer = group user/Godsownchild
	submit = group user/Godsownchild
[access "refs/heads/*"]
	read = group user/Godsownchild
	create = group user/Godsownchild
	push = +force group user/Godsownchild
	pushMerge = group user/Godsownchild
[access "refs/tags/*"]
	push = group user/Godsownchild
	push = +force group user/Godsownchild
